wheel
flask
torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121
langchain
chromadb
optimum
unstructured
transformers
accelerate
PyMuPDF
protobuf
langchain_huggingface
bitsandbytes